<div class="hero-head">
  <div class="container">
    <div class="tabs is-centered">
      <ul>
        <li><a href="/">Get to Index</a></li>
      </ul>
    </div>
  </div>
</div>

</section>

</body>
</html>
