<div class="menu">
<img src="/static/img/logo.png" alt="logo" width="55%">
<a class="button is-block is-info is-large is-success"  href="/user/home" style="width:30%; ">
  Home
</a>
<a class="button is-block is-info is-large is-success"  href="/user/profil" style="width:30%; ">
  Profil
</a>
<a class="button is-block is-info is-large is-success"  href="/user/module" style="width:30%; ">
  Module
</a>
<a class="button is-block is-info is-large is-success"  href="/user/messenger" style="width:30%; ">
  Messenger
</a>
<a class="button is-block is-info is-large is-success logout"  href="/user/logout" style="width:30%; ">
  Logout
</a>
</div>
