<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>2033</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>

<%- body %>

    <div class="hero-head">
      <div class="container">
        <div class="tabs is-centered">
          <ul>
            <li><a href="/">Get to Index</a></li>
          </ul>
        </div>
      </div>
    </div>

    </section>

    </body>
    </html>
