<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CodingBad | Node/xA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
  </head>
  <body>

    <div class="menu">
    <img src="../public/img/logo.png" alt="logo" width="55%">
    <a class="button is-block is-info is-large is-success"  href="/home" style="width:30%; ">
      Home
    </a>
    <a class="button is-block is-info is-large is-success"  href="/profil" style="width:30%; ">
      Profil
    </a>
    <a class="button is-block is-info is-large is-success"  href="/module" style="width:30%; ">
      Module
    </a>
    <a class="button is-block is-info is-large is-success"  href="/messenger" style="width:30%; ">
      Messenger
    </a>
    <a class="button is-block is-info is-large is-success logout"  href="/sign-up" style="width:30%; ">
      Logout
    </a>
</div>
    <section class="hero is-fullheight is-info">

      <div class="hero-body profil">
        <div class="container update has-text-centered profil">
          <h1>
            Edit profil
          </h1>
          <h3 class="title is-2">
            Information
          </h3>
          <form id="mForm" method="POST" action="/sign-up" enctype="application/json">
            <div class="field">
              <label class="label has-text-left">Username</label>
              <div class="control">
                <input name="username" class="input is-large" type="text" placeholder="Username" autofocus="" />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="label has-text-left">Firstname</label>
                <input name="firstname" class="input is-large" type="text" placeholder="Firstname" />
              </div>
            </div>
            <div class="field">
              <label class="label has-text-left">Lastname</label>
              <div class="control">
                <input name="lastname" class="input is-large" type="text" placeholder="Lastname" autofocus="" />
              </div>
            </div>
            <div class="field">
              <label class="label has-text-left">Email</label>
              <div class="control">
                <input name="email" class="input is-large" type="text" placeholder="@" autofocus="" />
              </div>
            </div>
            <div class="field">
              <label class="label has-text-left">Birthdate</label>
              <div class="control">
                <input name="birthdate" class="input is-large" type="date" placeholder="**/**/****" autofocus="" />
              </div>
            </div>
            <div class="field">
              <label class="label has-text-left">Password</label>
              <div class="control">
                <input name="password" class="input is-large" type="password" placeholder="*****" autofocus="" />
              </div>
            </div>
            <a class="button is-block is-info is-large is-success update-button" onclick="document.getElementById('mForm').submit();" href="/profile" >
              Add a user
            </a>
          </form>

        </div>
      </div>

    </section>

  </body>
</html>
