<!DOCTYPE html>

  <%- include partials/_header %>

    <div class="menu">
    <img src="img/logo.png" alt="logo" width="55%">
    <a class="button is-block is-info is-large is-success"  href="/user/home" style="width:30%; ">
      Home
    </a>
    <a class="button is-block is-info is-large is-success"  href="/user/profil" style="width:30%; ">
      Profil
    </a>
    <a class="button is-block is-info is-large is-success"  href="/user/module" style="width:30%; ">
      Module
    </a>
    <a class="button is-block is-info is-large is-success"  href="/user/messenger" style="width:30%; ">
      Messenger
    </a>
    <a class="button is-block is-info is-large is-success logout"  href="/user/logout" style="width:30%; ">
      Logout
    </a>
</div>

    <section class="hero is-fullheight is-info info">
      <div class="hero-body profil">
        <div class="container has-text-centered">

          <h1>
            HOME
          </h1>

          <h3 class="title is-2">
            Hello, <%= user.firstname %>
          </h3>

          <h4 class="subtitle is-4">Let's have fun with Express.js for fun and profit.</h4>

        </div>
      </div>

<%- include partials/_footer %>
