<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>2033</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div class="menu">
    <img src="css/img/logo.png" alt="logo" width="55%">
    <a class="button is-block is-info is-large is-success"  href="/home" style="width:30%; ">
      Home
    </a>
    <a class="button is-block is-info is-large is-success"  href="/profil" style="width:30%; ">
      Profil
    </a>
    <a class="button is-block is-info is-large is-success"  href="/module" style="width:30%; ">
      Module
    </a>
    <a class="button is-block is-info is-large is-success"  href="/messenger" style="width:30%; ">
      Messenger
    </a>
    <a class="button is-block is-info is-large is-success logout"  href="/logout" style="width:30%; ">
      Logout
    </a>
</div>
    <section class="hero is-fullheight is-info">
      <div class="hero-body profil">
        <div class="container has-text-centered">
          <h1>
            HOME
          </h1>
          <h3 class="title is-2">
            Hello, username
          </h3>
          <h4 class="subtitle is-4">Let's have fun with Express.js for fun and profit.</h4>
          <a href="/create">Create</a> 路
          <a href="/list">List</a> 路
          <a href="/update">Update</a> 路
          <a href="/delete">Delete</a> 路
        </div>
      </div>
    </section>
  </body>
</html>
