<section class="hero is-fullheight is-info info">
  <div class="hero-body profil">
    <div class="container has-text-centered">

      <h1>
        HOME
      </h1>

      <a><%= moment().format('dddd MMMM Do YYYY') %></a>

      <h3 class="title is-2">
        Hello, <%= user.firstname %>
      </h3>

      <h4 class="subtitle is-4"><%= message.quote %></h4>
      <p><%= message.author %></p>

    </div>
  </div>
