<!DOCTYPE html>

<%- include partials/_header %>

<div class="hero-body">
  <div class="container has-text-centered">
    <div class="column is-4 is-offset-4">
      <h3 class="title">#index</h3>

      <div class="box">

        CANVA HEADER <br>

        <a class="button is-block is-info is-large is-success" href="/sign-in">Sign in</a><br>

        <a class="button is-block is-danger is-large is-success" href="/sign-up">Or sign up</a>

      </div>
    </div>
  </div>
</div>

<%- include partials/_footer %>
