

    <section class="hero is-fullheight is-primary index">
      <div class="hero-body">
        <div class="container has-text-centered">
          <img src="/static/img/logo.png" alt="logo" width="25%">

          <h3 class="title is-2">
            Hey!
          </h3>
          <a class="button is-block is-info is-large is-success"  href="/sign-in" style="width:30%; margin-left:35%">
            Sign in
          </a>
          <a class="button is-block is-info is-large is-success"  href="/sign-up" style="width:30%; margin-left:35%; margin-top :3%;">
            Sign up
          </a>
        </div>
      </div>
