<section class="hero is-fullheight is-info info">
  <div class="hero-body profil">
    <div class="container has-text-centered">

      <table class="table is-striped is-bordered is-hoverable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Teacher</th>
            <th>Action</th>
          </tr>
        </thead>

        <% modules ? modules : '' %>
        <% if (modules) { modules.forEach((aModule) => { %>

          <tbody>
            <tr>
              <td><%= aModule.name %></td>
              <td><%= aModule.teacher %></td>
              <td>
                <p class="field">
                  <a class="icon has-text-success">
                      <i class="fa fa-check-square"></i>
                  </a>
                  <a class="icon has-text-danger">
                      <i class="fa fa-ban"></i>
                  </a>
                  </p>
              </td>
            </tr>

          <% })}; %>

        </tbody>
      </table>

    </div>
  </div>
  
