<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CodingBad | Node/xA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
  </head>
  <body>

    <div class="menu">
    <img src="css/img/logo.png" alt="logo" width="55%">
    <a class="button is-block is-info is-large is-success"  href="/home" style="width:30%; ">
      Home
    </a>
    <a class="button is-block is-info is-large is-success"  href="/profil" style="width:30%; ">
      Profil
    </a>
    <a class="button is-block is-info is-large is-success"  href="/module" style="width:30%; ">
      Module
    </a>
    <a class="button is-block is-info is-large is-success"  href="/messenger" style="width:30%; ">
      Messenger
    </a>
    <a class="button is-block is-info is-large is-success logout"  href="/sign-up" style="width:30%; ">
      Logout
    </a>
</div>
    <section class="hero is-fullheight is-info">

      <div class="hero-body profil">
        <div class="container has-text-centered profil">
          <h1>
            Profil
          </h1>
          <h3 class="title is-2">
            Information
          </h3>
          <p>My name is lastname firstname, my username is usernamevand my e-mail is email. <br/>
            I was born on date.</p>
            <a class="button is-block is-info is-large is-success edit-profil"  href="/edit" style="width:30%; ">
              Edit
            </a>
            <a class="button edit button-delete is-block is-info is-large is-success"  href="/delete" style="width:30%;">
              Delete
            </a>

        </div>
      </div>

    </section>

  </body>
</html>
